body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.titre-principal {
    font-size: 36px;
    color: rgb(0, 0, 0);
    margin: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Pacifico', cursive;
}

.menu {
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.menu li {
    list-style-type: none;
    margin: 10px 0;
    
}

.menu a {
    display:flex;                /* Transformation en block */
    align-items: center;
    margin: 22.5px;
    min-width: 120px;             /* Largeur minimale des liens */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
      
}

section#musees {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

article.musee {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
}

.image-container {
    flex: 1;
    margin-right: 20px
}

.image-container img {
    width: 100%;
    border-radius: 5px;
}

.text-container {
    flex: 2;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

header button {
    font-size: 25px;
    background: rgb(0, 82, 158);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    display: inline;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    
}

a:hover, button:hover input:hover {
    background: #000000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.menucomplet:hover .menu {
    max-height: 100px; 
    transition: max-height 0.3s ease-in-out;
    text-align: center;
  }

